.button-style{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 9px 25px;
    cursor: pointer;
}
.container{
    margin-bottom: 100px;
}
p{
    color: gray;
}
.see-all h6{
     
    color : orange;
}
.card-style{
    margin-top: 50px;
}

.card{
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgray;
    margin-top: 30px;
    margin-left: 10px;
}
.card-body
{
    text-align: center;
}
.card-footer{
    border-top: none;
    background-color: white;
    text-align: center;
}
.category img{
    width:100%;
}
.bg{
    box-shadow: 5px 5px 10px lightgray;
    border: none;
    border-radius: 10px;
    padding: 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.bgg{
    margin-top: 50px;
}
.new-sz
{
    height: 20%;
    width: 20%;
}
